<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/src/components/newsletter/css/styles.css">
</head>
    <section class="newsletter-container">

        <div class="div-main">
            <h2 class="titulo">Cadastre-se na nossa</h2>
            <h2 class="titulo-azul">newsletter</h2>
        </div>

            <form class="form-container">
                <input class="input-text" type="text" placeholder="Digite seu nome">
                <input class="input-text" type="email" placeholder="Digite seu e-mail">
                <input class="input-radio" type="radio">
                <p class="text-apply"> Estou de acordo com a Política de Privacidade</p>
                <button class="btn-apply" >Cadastrar</button>
            </form>
    </section>
</html>