<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/src/components/mugFirist/css/styles.css">
</head>
<section class="mug-section">
    <div class="mug-section-div">
        <div class="mug-section-firist-div">
            <img src="/src/components/mugFirist/assets/mugTranslate.png" alt="imagem caneca" >
        </div>
        <div class="mug-section-second-div">
            <h2>Lorem Ipsum</h2>
            <p>Duis consectetur metus nec lacus auctor dignissim. Mauris vitae finibus dui. Mauris laoreet lacus ut eleifend viverra. Cras efficitur volutpat dui, in lobortis metus lacinia sit amet. Sed lacinia pharetra magna, vel pulvinar ligula hendrerit a. Maecenas fringilla porttitor tortor eget lacinia. Donec sollicitudin euismod orci, auctor fringilla magna consequat interdum. Fusce sagittis elit a libero commodo egestas efficitur id augue.</p>
            <p>Duis consectetur metus nec lacus auctor dignissim. Mauris vitae finibus dui. Mauris laoreet lacus ut eleifend viverra. Cras efficitur volutpat dui, in lobortis metus lacinia sit amet. Sed lacinia pharetra magna, vel pulvinar ligula hendrerit a. Maecenas fringilla porttitor tortor eget lacinia. Donec sollicitudin euismod orci, auctor fringilla magna consequat interdum. Fusce sagittis elit a libero commodo egestas efficitur id augue.</p>
        </div>
    </div>
</section>
</html>