<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/src/components/footer/css/styles.css">
</head>
    <footer class="footer">
        <section class="first-one">
            <section class="footer-first">
                <img class="image-size" src="/src/components/footer/assets/imagemRedesSociaisELogo.png" alt="imagem redes sociais e logo">
                <div class="first-container">
                    <h4 class="titulo-principal">Institucional</h4>
                    <h5>Sobre Nós</h5>
                    <h5>Nossas Lojas</h5>
                    <h5>Privacidade e Segurança</h5>
                    <h5>Termos e Condições</h5>
                </div>
                <div class="second-container">
                    <h4 class="titulo-principal">Central de ajuda</h4>
                    <h5>Fale Conosco</h5>
                    <h5>Frete e Entrega</h5>
                    <h5>Trocas e Devoluções</h5>
                    <h5>Formas de Pagamento</h5>
                    <h5>FAQ</h5>
                </div>
                <div class="thrd-second">
                <h4 class="titulo-principal">Atendimento</h4>
                    <h5><strong>Telefone:</strong> (00) 1234-5678</h5>
                    <h5><strong>E-mail:</strong> exemplo@exemplo.com.br</h5>
                    <h5><strong>Horário de atendimeento:<br/></strong>
                        Segunda a Sábado: 07h00 às 23h00<br/>
                        Domingos e Feriados:  07h00 às 21h00</h5>
                </div>
            </section>
            <div class="img-payment">
                <img src="/src/components/footer/assets/imagePagamento.png" alt="imagem com todas formas de pagamento" >
            </div>
        </section>
        <section class="second-one">
            <div class="container-span">
                <span class="span-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</span>
            </div>
            <div class="icons-list">
                <img src="/src/components/footer/assets/iconesAvantiVtexEncript.png" alt="icones relacionados a avanti" >
            </div>
        </section>
    </footer>
</html>