<!DOCTYPE html>
<html lang="pt-br">
<head>
   <link rel="stylesheet" href="/src/components/cards/css/styles.css">
</head>
<body>
    <main class="main">
        <section class="section-main">
            <section class="text-main">
                <h2>Lançamentos</h2>
                <p>Ver mais</p>
            </section>
            <section class="card-group-size">
                <button class="btn-prev" onclick="scrollLeft()">&#10094;</button> 
                <div class="card-group">
                    <div class="card card-size">
                        <button class="btn-novo">novo</button>
                        <img src="/src/components/cards/assets/imagemCamisa.png" class="card-img" alt="imagem camisa">
                        <div class="card-body">
                            <h3 class="card-text-description"></h3>
                            <div class="grid-display">
                                <div class="prices">
                                    <p class="card-text-price">R$ 100,00</p>
                                    <p class="card-text-price-two">R$79,90</p>
                                </div>
                                <button class="btn-off">10% off</button>
                            </div>
                            <p class="card-text-payment">Ou em até 10x de R$ 7,90</p>
                            <button class="btn-buy">Comprar</button>
                        </div>
                    </div>
                    <div class="card card-size">
                        <button class="btn-novo">novo</button>
                        <img src="/src/components/cards/assets/imagemCamisa.png" class="card-img" alt="imagem camisa">
                        <div class="card-body">
                            <h3 class="card-text-description"></h3>
                            <div class="grid-display">
                                <div class="prices">
                                    <p class="card-text-price">R$ 100,00</p>
                                    <p class="card-text-price-two">R$79,90</p>
                                </div>
                                <button class="btn-off">10% off</button>
                            </div>
                            <p class="card-text-payment">Ou em até 10x de R$ 7,90</p>
                            <button class="btn-buy">Comprar</button>
                        </div>
                    </div>
                    <div class="card card-size">
                        <button class="btn-novo">novo</button>
                        <img src="/src/components/cards/assets/imagemCamisa.png" class="card-img" alt="imagem camisa">
                        <div class="card-body">
                            <h3 class="card-text-description"></h3>
                            <div class="grid-display">
                                <div class="prices">
                                    <p class="card-text-price">R$ 100,00</p>
                                    <p class="card-text-price-two">R$79,90</p>
                                </div>
                                <button class="btn-off">10% off</button>
                            </div>
                            <p class="card-text-payment">Ou em até 10x de R$ 7,90</p>
                            <button class="btn-buy">Comprar</button>
                        </div>
                    </div>
                    <div class="card card-size">
                        <button class="btn-novo">novo</button>
                        <img src="/src/components/cards/assets/imagemCamisa.png" class="card-img" alt="imagem camisa">
                        <div class="card-body">
                            <h3 class="card-text-description"></h3>
                            <div class="grid-display">
                                <div class="prices">
                                    <p class="card-text-price">R$ 100,00</p>
                                    <p class="card-text-price-two">R$79,90</p>
                                </div>
                                <button class="btn-off">10% off</button>
                            </div>
                            <p class="card-text-payment">Ou em até 10x de R$ 7,90</p>
                            <button class="btn-buy">Comprar</button>
                        </div>
                    </div>
                    <div class="card card-size">
                        <button class="btn-novo">novo</button>
                        <img src="/src/components/cards/assets/imagemCamisa.png" class="card-img" alt="imagem camisa">
                        <div class="card-body">
                            <h3 class="card-text-description"></h3>
                            <div class="grid-display">
                                <div class="prices">
                                    <p class="card-text-price">R$ 100,00</p>
                                    <p class="card-text-price-two">R$79,90</p>
                                </div>
                                <button class="btn-off">10% off</button>
                            </div>
                            <p class="card-text-payment">Ou em até 10x de R$ 7,90</p>
                            <button class="btn-buy">Comprar</button>
                        </div>                     
                    </div>                   
                </div>               
                <button class="btn-next" onclick="scrollRight()">&#10095;</button>                 
            </section>
            <div class="slide">
                <div class="indicators">
                    <button type="button" class="active" id="btn-1"></button>
                    <button type="button" class="waiting" id="btn-2"></button>
                    <button type="button" class="waiting" id="btn-3"></button>
                </div>
            </div>
        </section>  
    </main>
</body>
</html>