<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/src/components/mugSecond/css/styles.css">
</head>
<body>
    <section class="mug-second-container">
        <div class="main-container">
            <div class="grid-container">
                <h2 class="title">Lorem ipsum</h2>
                <i class="bi bi-geo-alt icon-location"></i>
                <p>Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                <i class="bi bi-geo-alt icon-location"></i>
                <p>Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                <i class="bi bi-geo-alt icon-location"></i>
                <p>Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
            </div>
            <img class="second-cup" src="/src/components/mugSecond/assets/segundoBanner.png" alt="imagem segunda caneca">
        </div>
    </section>
</body>
</html>