<!DOCTYPE html>
<html lang="pt-br">
<head>  
    <link rel="stylesheet" href="/src/components/header/css/styles.css">
</head>
    <header >
        <div class="promotion-container d-flex justify-content-center ">
            <p class="promotion-text align-self-center">Ganhe  R$10,00  de desconto no seu primeiro pedido. Utilize o cupom DESCONTO10</p>
        </div>
        <nav >
            <div class="nav-div d-flex justify-content-center ">
                <img src="/src/components/header/assets/logo.png" alt="logo avanti" class="logo"/>
                <div class="search-container">
                    <input placeholder="Digite aqui o que vc procura" class="input"/>
                    <i class="bi bi-search i-class"></i>     
                </div>
                <div class="icons">
                    <div class="div-user">
                        <i class="bi bi-person size"></i>
                        <div class="user-text">
                            <p>Olá,</p>
                            <p>Nome do Cliente!</p>
                        </div>
                    </div>
                    <div class="div-cart">
                        <i class="bi bi-cart shop-icon"></i>
                        <div class="circle">
                            <p>2</p>
                        </div>
                    </div>
                </div>
            </div>
            <nav >
                <ul class="nav-list-ul container d-flex justify-content-center ">
                    <li class="icon-list">
                        <i class="bi bi-list icon-list-size"></i>
                        <p class="text-title">Todas categorias</p>
                    </li>
                    <li class="text-list"><p>Departamento</p></li>
                    <li class="text-list"><p>Departamento</p></li>
                    <li class="text-list"><p>Departamento</p></li>
                    <li class="text-list"><p>Departamento</p></li>
                    <li class="text-list"><p>Departamento</p></li>
                    <li class="text-list"><p>Departamento</p></li>
                    <li class="text-list"><p>Departamento</p></li>
                    <li class="text-list"><p>Departamento</p></li>
                </ul>
           </nav>
       </nav>
    </header>
</html>